body{
  margin: 0;
  padding: 0;
  background: url(images/background-img.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 440px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  color: white;
  font-family: 'Century Gothic', sans-serif;
}
.box-img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  margin: 35px 0px;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: auto;
  margin-left: 30px;
  margin-right: 30px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
